.app-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

h1 {
  font-size: 1.6rem;
  text-transform: uppercase;
  text-shadow: 2px 2px 0px var(--primary), 4px 4px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 0.5rem;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px) rotate(-2deg);
  }

  50% {
    transform: translateY(-10px) rotate(2deg);
  }

  100% {
    transform: translateY(0px) rotate(-2deg);
  }
}

.start-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.start-screen p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}